<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body class="<%= className %>">

    <% include partials/header.ejs %>

    <div class="container">
        <h1><%= pageTitle %></h1>
    </div><!-- /.container -->

    <% include partials/footer.ejs %>

    <% include partials/footer-scripts.ejs %>
</body>
</html>