<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>
</head>
<body>
	<h1>Welcome</h1>
	<p>title: <%= title %> </p>
	<ul>
		<% for (var i = 0; i < games.length ; i++){ %>
		<li><%= games[i] %></li>
		<% } %>
	</ul>

</body>
</html>