<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>

    <% include partials/header.ejs %>

    <div class="container">
        <h1>Welcome</h1>
        <p>title: <%= title %> </p>
        <ul>
            <% for (var i = 0; i < games.length ; i++){ %>
            <li><%= games[i] %></li>
            <% } %>
        </ul>
    </div><!-- /.container -->

    <% include partials/footer.ejs %>

    <% include partials/footer-scripts.ejs %>
</body>
</html>